#heading {
    color:  red;
    font-size: large;
}
button { 
    color: yellow;
    font-size: larger;
    background-color:  blue;
}
.HEADING-CLASS{
    color: green;
}
body {

    background-color:  pink;
}

